.container {
    margin-top: 50px;
}

.form-group {
    margin-bottom: 20px;
}

.seo-section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.table-responsive {
    margin-top: 2rem;
}

.hidden {
    display: none;
}

@media (max-width: 576px) {

    #csvButton,
    #loadSample,
    #xlsxButton {
        display: none;
    }

    .table-responsive {
        margin-top: 2rem;
    }
}

@media (min-width: 577px) {

    #csvButtonMovil,
    #loadSampleMovil,
    #xlsxButtonMovil {
        display: none;
    }
}