.container {
    margin-top: 50px;
}

.form-group {
    margin-bottom: 20px;
}

.seo-section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media (max-width: 576px) {

    #csvButton,
    #xlsxButton {
        display: none;
    }
}

@media (min-width: 577px) {

    #csvButtonMovil,
    #xlsxButtonMovil {
        display: none;
    }
}